.git
.gitignore
__pycache__
*.py[cod]
*.log
.env
.env.*
.venv
venv
node_modules
chroma_db
__pypackages__
.cache
.mypy_cache
.pytype
build
dist
.DS_Store
.github
install.sh
install.bat
*.egg-info
OmniParser_CraftOS
debug_images
workspace
